<?xml version="1.0" ?>
<!--
/**
 * @author         Maciej Daniłowicz <mdanilowicz@divante.pl>
 * @package        Divante/CartSync
 * @copyright      Copyright(C) 2018 Divante
 * @license        See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Divante_CartSync::configuration" title="VueStorefront external checkout" />
            </resource>
        </resources>
    </acl>
</config>
